<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            function changeIcon(target, from, to) {
                alert(from + to);
                $(target).removeClass(from).addClass(to);
            }

            function changeCount(index, count) {
                $(`li[data-index=' + index +'] .ui-li-count`).html(count);
            }

            var socket = io.connect();

            socket.on("count", function (data) {
                changeCount(data.index, data.count);
            });

            $(".product > a[data-icon]").click(function () {
                if ($(this).attr("toggle") != "off") {
                    var index = $(this).attr("data-index");

                    socket.emit("cart", Number(index));

                    changeIcon(this, "ui-icon-check", "ui-icon-back");

                    $(this).attr("toggle", "off");


                    var NowTime = 120
                    var timer;
                    function time() {
                        timer = setInterval(alertFunc, 1000);
                    }
                    time();

                    function alertFunc() {
                        var minute = NowTime / 60;
                        minute = Math.floor(minute);

                        var second = NowTime - 60 * minute;
                        console.log(minute+"분"+second+"초");


                        if (NowTime == 0) {
                            clearInterval(timer);
                        }
                        NowTime--;
                    }
                } else {
                    var index = $(this).attr("data-index");

                    if (confirm("물건을 구매하겠습니까?")) {
                        socket.emit("buy", Number(index));

                        $(this).parent().remove();
                        $("#listview").listview("refresh");
                    } else {
                        socket.emit("return", Number(index));
                        changeIcon(this, "ui-icon-back", "ui-icon-check");
                    }
                    $(this).attr("toggle", "on");
                }
            });

            $("#BuyBtn").click(function () {
                socket.emit("BuyBtn");

                var num = 0;

                socket.on("Allcart", function (data) {
                    if (num === 0 && confirm("장바구니에 담긴것을 구매하시겠습니까?")) {

                        num = 1;
                        window.location.reload();
                        for (let x of data.cart) {
                            $("li").remove(`#${x}`);
                        }

                    }
                });
            });

        });
    </script>
</head>
<body>
<div data-role ="page">
    <div data-role="header">
        <h1>Store</h1>
    </div>
    <div>
    로그인 하는곳
    <br>
    ID : 마스터 아이디 1234 <input type="text" placeholder="ID를 입력하세요" id="userid"><br>
    비밀번호 : 마스터 비밀번호 1234<input type="password" placeholder="비밀번호" id="userpw">
    <input type="button" value="로그인" id="signinButton">
    </div>
    <div data-role="content">
        <ul id="listview" data-role="listview" data-inset="true" data-filter="true">
            <li data-role="list-divider">products</li>
            <% products.forEach(function (item, index) { %>
            <li class="product" data-index="<%= item.index %>">
                <a href="#">
                    <img src="뚱이.png" />
                    <h3><%= item.name %></h3>
                    <p><%= item.price %>원</p>
                    <span class="ui-li-count"><%= item.count %></span>
                </a>
                <a href="#" data-icon="check" data-index="<%= item.index %>"></a>

            </li>
            <% }); %>
            <button id="BuyBtn">장바구니 구매</button>
        </ul>
    </div>
</div>
<script type="text/javascript">

    const signinButton = document.getElementById("signinButton")
    signinButton.addEventListener('click', signinFunc)

    function signinFunc () {
        const userid = document.getElementById("userid").value;
        const userpw = document.getElementById("userpw").value;


        if(userid == "1234" && userpw == "1234") {
            alert("로그인 성공");
            console.log("로그인 성공했습니다.");
        } else {
            alert("로그인 실패");
            console.log("로그인 실패했습니다.");
        }


    }

</script>
</body>
</html>